<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="window-phone-color" name="msapplication-navbutton-color" content="#00BCD4">
    <meta id="chrome-color" name="theme-color" content="#00BCD4">
    <title>MacDuck</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<div id="app">
    <layout></layout>
</div>
<script>
    window.crumb = "{{crumb}}"
</script>
<script src="{{vendorJs}}" charset="utf-8"></script>
<script src="{{bundleJs}}" charset="utf-8"></script>
</body>
</html>