<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MacDuck</title>
</head>
<body>
<div id="app">
    <layout></layout>
</div>
<script>
    window.crumb = "{{crumb}}"
</script>
<script src="/bundle.js"></script>
</body>
</html>